/* PC用のCSS */
@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/
  
  body{
    background-color: #333;
    color: #eee;
  }
  header{
    h1{
      font-size: 40px;
      margin: 0px ;
    }
    hr{
      margin-bottom: 30px;
    }
  }
  
  .profile{
    position: relative;
    margin-bottom: 0px;
  
    .profile-top{
      p{position: absolute;
        color: white;
        font-size: 40px;
        top: 25%;
        left: 50%;
      }
      h1{
        position: absolute;
        color: white;
        font-size: 70px;
        top: 30%;
        left: 50%;
      }
      img{
        width: 100%;
        height: 900px;
        object-fit: cover;
     }
    }
    
    .profile-bottom{
      img{
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 10%;
        object-fit: cover;
        border-radius: 50px;
      }
      dl{
        float: right;
        margin-right: 30%;
        margin-top: 60px;
        margin-bottom: 60px;
        list-style: none;
        font-size: 30px;
        
        
        dt{
          background-color: rgb(47, 144, 151);
          font-size: 25px;
        }
        
      }
    
      
    }
    
    
  
  }
  .myfavorite{
    margin-top: 50px;
    h1{
      text-align: center;
      font-size: 30px;
      margin-bottom: 50px;
    }
  }
  
  .soccer{
    h2{
      text-decoration: underline;
      margin-bottom: 50px;
    }
    
  }
  .box{
    text-align: center;
  
  }
  .box-img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    img{
      border-radius: 50px;
      object-fit: cover;
    }
  }
  
  .box-text{
    display: inline-block;
    vertical-align: middle;
  
    p{
      font-size: 20px;
      text-align: left;
    }

    br{
      display: block;
    }
  }
  
  .trip{
    margin-top: 50px;
    
    h2{
      text-decoration: underline;
      margin: 50px 0px;
    }
  }
  
  .idol{
    margin-top: 50px;
    
    h2{
      margin: 50px 0px;
      text-decoration: underline;
    }
  }
  
  footer{
    text-align: center;
    margin: 50px 0px;
  }
}





@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */

  body{
    background-color: #333;
    color: #eee;
  }
  header{
    h1{
      font-size: 30px;
      margin: 0px ;
    }
    hr{
      margin-bottom: 30px;
    }
  }
  
  .profile{
    position: relative;
    margin-bottom: 0px;
  
    .profile-top{
      p{position: absolute;
        color: white;
        font-size: 25px;
        top: 10%;
        left: 50%;
      }
      h1{
        position: absolute;
        color: white;
        font-size: 35px;
        top: 13%;
        left: 50%;
      }
      img{
        width: 100%;
        height: 500px;
        object-fit: cover;
     }
    }
    
    .profile-bottom{
      img{
        margin-top: 60px;
        margin-bottom: 30px;
        margin-left: 0%;
        width: 100%;
        object-fit: cover;
        border-radius: 100px;
      }
      dl{
        text-align: left;
        margin-top: 30px;
        margin-bottom: 60px;
        list-style: none;
        font-size: 30px;
        
        
        dt{
          background-color: rgb(47, 144, 151);
          font-size: 25px;
        }
        
      }
    
      
    }
    
    
  
  }
  .myfavorite{
    margin-top: 50px;
    h1{
      text-align: center;
      font-size: 30px;
      margin-bottom: 50px;
    }
  }
  
  .soccer{
    h2{
      text-align: center;
      text-decoration: underline;
      margin-left: 0px;
    }
    
  }
  .box{
    text-align: center;
  
  }
  .box-img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 0px;
    
    img{
      border-radius: 100px;
      width: 100%;
      object-fit: cover;
    }
  }
  
  .box-text{
    display: inline-block;
    vertical-align: middle;
  
    p{
      font-size: 15px;
      text-align: left;
    }
    br{
      display: none;
    }
  }
  
  .trip{
    margin-top: 50px;
    
    h2{
      margin-left: 0px; 
      text-align: center;
      text-decoration: underline;
    }
  }
  
  .idol{
    margin-top: 50px;
    
    h2{
      margin-left: 0px;
      margin-bottom: 5px;
      text-align: center;
      text-decoration: underline;
    }
  }
  
  footer{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
  }
}