@charset "UTF-8";
/* PC用のCSS */
body {
  background-color: black;
  color: white;
}

header h1 {
  font-size: 40px;
  margin: 0px;
}

header hr {
  margin-bottom: 0%;
}

.profile {
  position: relative;
  margin-bottom: 0px;
}

.profile .profile-top p {
  position: absolute;
  color: white;
  font-size: 40px;
  top: 25%;
  left: 50%;
}

.profile .profile-top h1 {
  position: absolute;
  color: white;
  font-size: 70px;
  top: 30%;
  left: 50%;
}

.profile .profile-top img {
  width: 100%;
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile .profile-bottom img {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 10%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}

.profile .profile-bottom ul {
  float: right;
  margin-right: 30%;
  margin-top: 60px;
  margin-bottom: 60px;
  list-style: none;
  font-size: 30px;
}

.profile .profile-bottom ul span {
  background-color: #6f701b;
}

.myfavorite {
  margin-top: 50px;
}

.myfavorite h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.soccer h2 {
  margin-left: 63%;
  text-decoration: underline;
}

.box {
  text-align: center;
}

.box-img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

.box-img img {
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-text {
  display: inline-block;
  vertical-align: middle;
}

.box-text p {
  font-size: 20px;
}

.trip {
  margin-top: 50px;
  text-decoration: underline;
}

.trip h2 {
  margin-left: 63%;
}

.idol {
  margin-top: 50px;
  text-decoration: underline;
}

.idol h2 {
  margin-left: 63%;
  margin-bottom: 5px;
}

footer {
  text-align: center;
  margin: 50px 0px;
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  body {
    background-color: black;
    color: white;
  }
  header h1 {
    font-size: 40px;
    margin: 0px;
  }
  header hr {
    margin-bottom: 0%;
  }
  .profile {
    position: relative;
    margin-bottom: 0px;
  }
  .profile .profile-top p {
    position: absolute;
    color: white;
    font-size: 40px;
    top: 25%;
    left: 50%;
  }
  .profile .profile-top h1 {
    position: absolute;
    color: white;
    font-size: 70px;
    top: 30%;
    left: 50%;
  }
  .profile .profile-top img {
    width: 100%;
    height: 900px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .profile .profile-bottom img {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 10%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50px;
  }
  .profile .profile-bottom ul {
    float: right;
    margin-right: 30%;
    margin-top: 60px;
    margin-bottom: 60px;
    list-style: none;
    font-size: 30px;
  }
  .profile .profile-bottom ul span {
    background-color: #6f701b;
  }
  .myfavorite {
    margin-top: 50px;
  }
  .myfavorite h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  }
  .soccer h2 {
    margin-left: 63%;
    text-decoration: underline;
  }
  .box {
    text-align: center;
  }
  .box-img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
  }
  .box-img img {
    border-radius: 50px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .box-text {
    display: inline-block;
    vertical-align: middle;
  }
  .box-text p {
    font-size: 20px;
  }
  .trip {
    margin-top: 50px;
    text-decoration: underline;
  }
  .trip h2 {
    margin-left: 63%;
  }
  .idol {
    margin-top: 50px;
    text-decoration: underline;
  }
  .idol h2 {
    margin-left: 63%;
    margin-bottom: 5px;
  }
  footer {
    text-align: center;
    margin: 50px 0px;
  }
}
/*# sourceMappingURL=styleys.css.map */