/* PC用のCSS */
@media screen and (min-width: 480px) { /*ウィンドウ幅が480px以上の場合に適用*/
  
  body{
    background-color: #333;
    color: #eee;
  }

  .my-color {
    color: #333;
    background-color: #eee;
  }

  header{
    display: flex;
    h1{
      font-size: 40px;
      margin: 0px ;
      padding-top: 15px; 
    }

    .header-left{
      padding-left: 65%;
      ul{
        list-style: none;
        li{
          display: inline-block;
          padding-left: 30px;
        }
      }

      
      button{
        border-radius: 30px;
        
      }
    }
     
  }
  hr{
    margin-bottom: 30px;
  }
  
  .profile{
    position: relative;
    margin-bottom: 0px;
  
    .profile-top{
      p{position: absolute;
        color: white;
        font-size: 40px;
        top: 25%;
        left: 50%;
      }
      h1{
        position: absolute;
        color: white;
        font-size: 70px;
        top: 30%;
        left: 50%;
      }
      img{
        width: 100%;
        height: 900px;
        object-fit: cover;
     }
      
    }
    
    .profile-bottom{
      img{
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 10%;
        object-fit: cover;
        border-radius: 50px;
      }
      dl{
        float: right;
        margin-right: 30%;
        margin-top: 60px;
        margin-bottom: 60px;
        list-style: none;
        font-size: 30px;
        
        
        dt{
          background-color: rgb(47, 144, 151);
          font-size: 25px;
        }
        
      }
    
      
    }
    
    
  
  }
  .myfavorite{
    margin-top: 50px;
    h1{
      text-align: center;
      font-size: 30px;
      margin-bottom: 50px;
    }
  }
  
  .soccer{
    h2{
      text-decoration: underline;
      margin-bottom: 50px;
    }
    
  }
  .box{
    text-align: center;
  
  }
  .box-img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    img{
      width: 500px; 
      height:350px;
      border-radius: 50px;
      object-fit: cover;
    }
  }
  
  .box-text{
    display: inline-block;
    vertical-align: middle;
  
    p{
      font-size: 20px;
      text-align: left;
    }

    br{
      display: block;
    }
  }
  
  .trip{
    margin-top: 50px;
    
    h2{
      text-decoration: underline;
      margin: 50px 0px;
    }
  }
  
  .idol{
    margin-top: 50px;
    
    h2{
      margin: 50px 0px;
      text-decoration: underline;
    }
  }
  
  footer{
    text-align: center;
    margin: 50px 0px;
  }

  //my-work
  .mywork{
    margin-top: 50px;
    h1{
      text-align: center;
      font-size: 30px;
      margin-bottom: 50px;
    }
  }

  .clp{
    padding-bottom: 40px;
    h2{
      text-decoration: underline;
      margin-bottom: 50px;
    }
    .box{
      text-align: center;
    
    }
    .box-img{
      display: inline-block;
      vertical-align: middle;
      margin-right: 30px;
      img{
        width: 500px; 
        height:500px;
        border-radius: 50px;
        object-fit: cover;
      }
    }
    
    .box-text{
      display: inline-block;
      vertical-align: middle;
    
      p{
        font-size: 20px;
        text-align: left;
      }
  
      br{
        display: block;
      }
    }
    
  }
  .mystudy{
    margin-top: 50px;
    h1{
      text-align: center;
      font-size: 30px;
      margin-bottom: 50px;
    }

    .study{
      margin-top: 50px;
      
      h2{
        margin: 50px 0px;
        text-decoration: underline;
      }
    }
  }

}





@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */

  body{
    background-color: #333;
    color: #eee;
  }

  .my-color {
    color: #333;
    background-color: #eee;
  }

  header{
    display: flex;
    h1{
      font-size: 40px;
      margin: 0px ; 
    }

    button{
      padding: 20px;
      margin-left: 1500px;
    }
  }
  hr{
    margin-bottom: 30px;
  }
  
  .profile{
    position: relative;
    margin-bottom: 0px;
  
    .profile-top{
      p{position: absolute;
        color: white;
        font-size: 40px;
        top: 25%;
        left: 50%;
      }
      h1{
        position: absolute;
        color: white;
        font-size: 70px;
        top: 30%;
        left: 50%;
      }
      img{
        width: 100%;
        height: 900px;
        object-fit: cover;
     }
    }
    
    .profile-bottom{
      img{
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 10%;
        object-fit: cover;
        border-radius: 50px;
      }
      dl{
        float: right;
        margin-right: 30%;
        margin-top: 60px;
        margin-bottom: 60px;
        list-style: none;
        font-size: 30px;
        
        
        dt{
          background-color: rgb(47, 144, 151);
          font-size: 25px;
        }
        
      }
    
      
    }
    
    
  
  }
  .myfavorite{
    margin-top: 50px;
    h1{
      text-align: center;
      font-size: 30px;
      margin-bottom: 50px;
    }
  }
  
  .soccer{
    h2{
      text-decoration: underline;
      margin-bottom: 50px;
    }
    
  }
  .box{
    text-align: center;
  
  }
  .box-img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    img{
      width: 500px; 
      height:350px;
      border-radius: 50px;
      object-fit: cover;
    }
  }
  
  .box-text{
    display: inline-block;
    vertical-align: middle;
  
    p{
      font-size: 20px;
      text-align: left;
    }

    br{
      display: block;
    }
  }
  
  .trip{
    margin-top: 50px;
    
    h2{
      text-decoration: underline;
      margin: 50px 0px;
    }
  }
  
  .idol{
    margin-top: 50px;
    
    h2{
      margin: 50px 0px;
      text-decoration: underline;
    }
  }
  
  footer{
    text-align: center;
    margin: 50px 0px;
  }
}