@charset "UTF-8";
/* PC用のCSS */
@media screen and (min-width: 480px) {
  /*ウィンドウ幅が480px以上の場合に適用*/
  body {
    background-color: #333;
    color: #eee;
  }
  .my-color {
    color: #333;
    background-color: #eee;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header h1 {
    font-size: 40px;
    margin: 0px;
    padding-top: 15px;
  }
  header .header-left {
    padding-left: 65%;
  }
  header .header-left ul {
    list-style: none;
  }
  header .header-left ul li {
    display: inline-block;
    padding-left: 30px;
  }
  header .header-left button {
    border-radius: 30px;
  }
  hr {
    margin-bottom: 30px;
  }
  .profile {
    position: relative;
    margin-bottom: 0px;
  }
  .profile .profile-top p {
    position: absolute;
    color: white;
    font-size: 40px;
    top: 25%;
    left: 50%;
  }
  .profile .profile-top h1 {
    position: absolute;
    color: white;
    font-size: 70px;
    top: 30%;
    left: 50%;
  }
  .profile .profile-top img {
    width: 100%;
    height: 900px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .profile .profile-bottom img {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 10%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50px;
  }
  .profile .profile-bottom dl {
    float: right;
    margin-right: 30%;
    margin-top: 60px;
    margin-bottom: 60px;
    list-style: none;
    font-size: 30px;
  }
  .profile .profile-bottom dl dt {
    background-color: #2f9097;
    font-size: 25px;
  }
  .myfavorite {
    margin-top: 50px;
  }
  .myfavorite h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  }
  .soccer h2 {
    text-decoration: underline;
    margin-bottom: 50px;
  }
  .box {
    text-align: center;
  }
  .box-img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
  }
  .box-img img {
    width: 500px;
    height: 350px;
    border-radius: 50px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .box-text {
    display: inline-block;
    vertical-align: middle;
  }
  .box-text p {
    font-size: 20px;
    text-align: left;
  }
  .box-text br {
    display: block;
  }
  .trip {
    margin-top: 50px;
  }
  .trip h2 {
    text-decoration: underline;
    margin: 50px 0px;
  }
  .idol {
    margin-top: 50px;
  }
  .idol h2 {
    margin: 50px 0px;
    text-decoration: underline;
  }
  footer {
    text-align: center;
    margin: 50px 0px;
  }
  .mywork {
    margin-top: 50px;
  }
  .mywork h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  }
  .clp {
    padding-bottom: 40px;
  }
  .clp h2 {
    text-decoration: underline;
    margin-bottom: 50px;
  }
  .clp .box {
    text-align: center;
  }
  .clp .box-img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
  }
  .clp .box-img img {
    width: 500px;
    height: 500px;
    border-radius: 50px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .clp .box-text {
    display: inline-block;
    vertical-align: middle;
  }
  .clp .box-text p {
    font-size: 20px;
    text-align: left;
  }
  .clp .box-text br {
    display: block;
  }
  .mystudy {
    margin-top: 50px;
  }
  .mystudy h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  }
  .mystudy .study {
    margin-top: 50px;
  }
  .mystudy .study h2 {
    margin: 50px 0px;
    text-decoration: underline;
  }
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  body {
    background-color: #333;
    color: #eee;
  }
  .my-color {
    color: #333;
    background-color: #eee;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header h1 {
    font-size: 40px;
    margin: 0px;
  }
  header button {
    padding: 20px;
    margin-left: 1500px;
  }
  hr {
    margin-bottom: 30px;
  }
  .profile {
    position: relative;
    margin-bottom: 0px;
  }
  .profile .profile-top p {
    position: absolute;
    color: white;
    font-size: 40px;
    top: 25%;
    left: 50%;
  }
  .profile .profile-top h1 {
    position: absolute;
    color: white;
    font-size: 70px;
    top: 30%;
    left: 50%;
  }
  .profile .profile-top img {
    width: 100%;
    height: 900px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .profile .profile-bottom img {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 10%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50px;
  }
  .profile .profile-bottom dl {
    float: right;
    margin-right: 30%;
    margin-top: 60px;
    margin-bottom: 60px;
    list-style: none;
    font-size: 30px;
  }
  .profile .profile-bottom dl dt {
    background-color: #2f9097;
    font-size: 25px;
  }
  .myfavorite {
    margin-top: 50px;
  }
  .myfavorite h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  }
  .soccer h2 {
    text-decoration: underline;
    margin-bottom: 50px;
  }
  .box {
    text-align: center;
  }
  .box-img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
  }
  .box-img img {
    width: 500px;
    height: 350px;
    border-radius: 50px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .box-text {
    display: inline-block;
    vertical-align: middle;
  }
  .box-text p {
    font-size: 20px;
    text-align: left;
  }
  .box-text br {
    display: block;
  }
  .trip {
    margin-top: 50px;
  }
  .trip h2 {
    text-decoration: underline;
    margin: 50px 0px;
  }
  .idol {
    margin-top: 50px;
  }
  .idol h2 {
    margin: 50px 0px;
    text-decoration: underline;
  }
  footer {
    text-align: center;
    margin: 50px 0px;
  }
}
/*# sourceMappingURL=styleys.css.map */